---
import { twMerge } from 'tailwind-merge'
interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<div
  class={twMerge(
    'w-[90px] h-[90px] rotate-[130deg]  absolute top-0 ',
    className
  )}
>
  <dotlottie-player
    src="/src/data/lottie/tick-marks.json"
    background="transparent"
    speed="1"
    loop="false"
    autoplay></dotlottie-player>
</div>
