---
import Layout from '../layouts/Layout.astro'
import Card from '../components/_Card.astro'
import Hero from '../components/Hero.astro'
import Nutrition from '../components/Nutrition.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Nutrition showWave={true} />
  </main>
</Layout>
