---
import { twMerge } from 'tailwind-merge'
interface Props {
  className?: string
  label: string
  href?: string
}

const { className = '', label = 'Button', href = '/', ...rest } = Astro.props
---

<a class={twMerge('btn', className)} href={href} title={label} {...rest}>
  {label}
</a>

<style>
  .btn {
    @apply font-button flex items-start justify-center rounded-[16px] border-2 border-primary bg-primary px-[30px] py-[13px] text-[2rem] uppercase leading-[1] tracking-[.05rem] text-white transition-all duration-200 ease-announcement hover:bg-white hover:text-primary;
  }
</style>
