---
import { twMerge } from 'tailwind-merge'
interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<div
  class={twMerge(
    'mx-auto max-w-[1376px] w-full px-[20px] lg:px-[30px]',
    className
  )}
>
  <slot />
</div>
