---
import { Image } from 'astro:assets'
import Container from './Container.astro'
import heroImg from '../images/hero.webp'
import heroImgMobile from '../images/hero-mobile.webp'
import Button from './Button.astro'
import SectionTitle from './SectionTitle.astro'
import SubTitle from './SubTitle.astro'

interface Props {}

const {} = Astro.props
---

<section class="relative h-[600px] overflow-hidden bg-bg py-16 lg:h-[830px]">
  <div class="hero-img">
    <Image src={heroImg} alt="" class="h-full w-full object-cover" />
  </div>

  <Container
    className="lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2"
  >
    <div
      class="relative z-[3] mx-auto flex w-full max-w-[535px] flex-col text-center lg:mr-0 lg:text-left"
    >
      <SectionTitle
        className="mb-5 mx-auto lg:text-[11rem] leading-[1] lg:ml-0 w-[8ch]"
      >
        SNACKING MADE SIMPLE
      </SectionTitle>

      <SubTitle
        className="mb-[30px] lg:w-[42ch] text-[2rem] lg:text-[2.875rem]"
      >
        Tasty meat sticks packed with mouthwatering flavor and only the best
        real ingredients.
      </SubTitle>

      <Button href="/" label="Start Snackin’" />
    </div>
  </Container>

  <div class="hero-img-mobile">
    <Image src={heroImgMobile} alt="" />
  </div>
</section>

<style>
  .hero-img {
    @apply absolute inset-0 hidden lg:block;

    & img {
      @apply h-full;
    }
  }

  .hero-img-mobile {
    @apply max-xs:h-[350px] absolute bottom-0 left-0 block h-[390px] lg:hidden;
    & img {
    }
  }
</style>
