---
import { Image } from 'astro:assets'
import Container from './Container.astro'
import heroImg from '../images/hero.webp'
import heroImgMobile from '../images/hero-mobile.webp'
import Button from './Button.astro'
import SubTitle from './SubTitle.astro'

interface Props {}

const {} = Astro.props
---

<section class="relative h-[600px] overflow-hidden bg-bg py-16 lg:h-[830px]">
  <div class="hero-img">
    <Image src={heroImg} alt="" class="h-full w-full object-cover" />
  </div>

  <Container
    className="lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2"
  >
    <div
      class="relative z-[3] mx-auto flex w-full max-w-[535px] flex-col items-center text-center lg:mr-0 lg:items-start lg:text-left"
    >
      <h1 class="md:text-8 font-heading text-6 lg:text-11">
        SNACKING <br /> MADE SIMPLE
      </h1>

      <SubTitle
        className="mb-[20px] sm:mb-[30px] !text-[2rem] max-xs:w-auto w-[42ch] mx-auto lg:ml-0 md:!text-[2.875rem] leading-[1.5]"
      >
        Tasty meat sticks packed with mouthwatering flavor and only the best
        real ingredients.
      </SubTitle>

      <Button href="/" label="Start Snackin'" className="min-w-[215px]" />
    </div>
  </Container>

  <div class="hero-img-mobile">
    <Image src={heroImgMobile} alt="" />
  </div>
</section>

<style>
  .hero-img {
    @apply absolute inset-0 hidden lg:block;

    & img {
      @apply h-full;
    }
  }

  .hero-img-mobile {
    @apply absolute bottom-0 left-0 block xs:h-[350px] sm:h-[320px] lg:hidden;
    & img {
      @apply w-[95%];
    }
  }
</style>
