---
interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props

const logoItems = [
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  },
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  },
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  },
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  }
]
---

<!-- Example from Coding with Robby: https://www.youtube.com/watch?v=nAjR0Oj0J8E&t=33s -->
<section class="logo">
  <div class="animate-pause flex animate-marquee flex-nowrap">
    {
      logoItems.map((logo) => (
        <img
          src={logo.imgUrl}
          alt=""
          class="mx-[50px] h-20 w-[150px] object-contain"
        />
      ))
    }
    {
      logoItems.map((logo) => (
        <img
          src={logo.imgUrl}
          alt=""
          class="mx-[50px] h-20 w-[150px] object-contain"
        />
      ))
    }
    {
      logoItems.map((logo) => (
        <img
          src={logo.imgUrl}
          alt=""
          class="mx-[50px] h-20 w-[150px] object-contain"
        />
      ))
    }
  </div>
</section>

<style>
  .logo {
    @apply relative flex overflow-hidden bg-primary py-[20px];
  }

  .logo::before,
  .logo::after {
    @apply absolute top-0 z-[2] h-full w-[250px] content-[''];
  }

  .logo::before {
    @apply left-0 bg-marquee-gradient-left;
  }

  .logo::after {
    @apply right-0 bg-marquee-gradient-right;
  }

  .logo img {
    /* max-width: 150px;
    height: 80px; */
    /* object-fit: contain; */
    /* margin: 0 50px; */
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
