---
import { twMerge } from 'tailwind-merge'
interface Props {}

const {} = Astro.props

const logoItems = [
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  },
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  },
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  },
  {
    imgUrl: '/src/images/ELogo.avif'
  },
  {
    imgUrl: '/src/images/forbes-logo.png'
  },
  {
    imgUrl: '/src/images/Business_Insider.avif'
  },
  {
    imgUrl: '/src/images/etntlogo.avif'
  },
  {
    imgUrl: '/src/images/food-network.avif'
  },
  {
    imgUrl: '/src/images/fast-company-logo.avif'
  }
]
---

<section
  class={twMerge(
    'logo',
    'relative flex overflow-hidden bg-primary py-[20px]',
    'before:left-0 before:bg-marquee-gradient-left',
    'after:right-0 after:bg-marquee-gradient-right'
  )}
>
  <div class="animate-pause flex animate-marquee flex-nowrap">
    {
      logoItems.map((logo) => (
        <img
          src={logo.imgUrl}
          alt=""
          class="mx-[50px] h-20 w-[150px] object-contain"
        />
      ))
    }
    {
      logoItems.map((logo) => (
        <img
          src={logo.imgUrl}
          alt=""
          class="mx-[50px] h-20 w-[150px] object-contain"
        />
      ))
    }
    {
      logoItems.map((logo) => (
        <img
          src={logo.imgUrl}
          alt=""
          class="mx-[50px] h-20 w-[150px] object-contain"
        />
      ))
    }
  </div>
</section>

<style>
  .logo::before,
  .logo::after {
    @apply absolute top-0 z-[2] h-full w-[250px] content-[''];
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
