---
import Wave from './Wave.astro'
import Container from './Container.astro'
import SectionTitle from './SectionTitle.astro'
interface Props {
  showWave?: boolean
}

const { showWave = false } = Astro.props

const nutiritionItems = [
  {
    heading: '9-10g of protein',
    url: '/src/data/lottie/protein.json'
  },
  {
    heading: 'Zero sugar',
    url: '/src/data/lottie/no-sugar.json'
  },
  {
    heading: 'Keto friendly',
    url: '/src/data/lottie/keto-friendly.json'
  },
  {
    heading: 'Low-carb',
    url: '/src/data/lottie/low-carb.json'
  },
  {
    heading: 'Allergy friendly',
    url: '/src/data/lottie/allergy-friendly.json'
  },
  {
    heading: 'No Fillers',
    url: '/src/data/lottie/no-filler.json'
  }
]
---

<section class="relative overflow-hidden text-center">
  {showWave && <Wave color="text-sky-blue" />}

  <div class="relative z-[2] bg-sky-blue py-[132px]">
    <Container className="max-w-[1126px] flex flex-col gap-[58px]">
      <SectionTitle
        as="h2"
        className="text-3 max-w-[250px] sm:text-3 md:text-4 leading-[1] sm:max-w-full lg:text-[9rem] lg:leading-[8rem] "
        showLottie={true}
      >
        Nutrition your taste buds <br /> will understand.
      </SectionTitle>
      <div class="flex flex-wrap justify-center gap-[30px]">
        {
          nutiritionItems.map((item) => (
            <div class="w-1/2 md:w-[25%] lg:w-[20%]">
              <div class="mx-auto max-w-[155px]">
                <dotlottie-player
                  src={item.url}
                  background="transparent"
                  speed="1"
                  loop
                  autoplay
                />

                <h3 class="font-heading uppercase">{item.heading}</h3>
              </div>
            </div>
          ))
        }
      </div>
    </Container>
  </div>
</section>
